
.profile-card{
    text-align: center;
    color: antiquewhite;
    padding: 0 10px 10px 0px;
    img{
        width: 100px;
        height:100px;
        object-fit: cover;
        border-radius: 50px;
    }
}